ws/OTHER RESSOURCES/WSDL/books_wsdl.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://com.berthoud.p7" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.berthoud.p7" targetNamespace="http://com.berthoud.p7">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://com.berthoud.p7">
            <xs:element name="bookRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="titleElement" type="xs:string"/>
                        <xs:element name="authorSurname" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="tags" type="xs:string"/>
                        <xs:element name="librairyId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="bookReferences" type="tns:bookReferenceWs"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bookReferenceRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bookReferenceId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bookReferenceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bookReference" type="tns:bookReferenceWs"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listLibrairyRequest">
                <xs:complexType>
                    <xs:sequence> </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listLibrairyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="librairyWs" type="tns:librairyWs"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="bookReferenceWs">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="authorFirstName" type="xs:string"/>
                    <xs:element name="authorSurname" type="xs:string"/>
                    <xs:element name="isbn13" type="xs:string"/>
                    <xs:element name="publisher" type="xs:string"/>
                    <xs:element name="yearPublication" type="xs:string"/>
                    <xs:element name="summary" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="book" type="tns:bookWs"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="tags" type="tns:tagsWs"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tagsWs">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="reservationWs">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="librairy" type="tns:librairyWs"/>
                    <xs:element name="dateReservation" type="xs:date"/>
                    <xs:element name="dateBookAvailableNotification" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="bookWs">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="datePurchase" type="xs:date"/>
                    <xs:element name="status" type="tns:statusWs"/>
                    <xs:element name="librairy" type="tns:librairyWs"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="statusWs">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="available"/>
                    <xs:enumeration value="booked"/>
                    <xs:enumeration value="borrowed"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="librairyWs">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="bookReferenceResponse">
        <wsdl:part element="tns:bookReferenceResponse" name="bookReferenceResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="bookRequest">
        <wsdl:part element="tns:bookRequest" name="bookRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="bookResponse">
        <wsdl:part element="tns:bookResponse" name="bookResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="bookReferenceRequest">
        <wsdl:part element="tns:bookReferenceRequest" name="bookReferenceRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="listLibrairyRequest">
        <wsdl:part element="tns:listLibrairyRequest" name="listLibrairyRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="listLibrairyResponse">
        <wsdl:part element="tns:listLibrairyResponse" name="listLibrairyResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BookPort">
        <wsdl:operation name="bookReference">
            <wsdl:input message="tns:bookReferenceRequest" name="bookReferenceRequest"> </wsdl:input>
            <wsdl:output message="tns:bookReferenceResponse" name="bookReferenceResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="book">
            <wsdl:input message="tns:bookRequest" name="bookRequest"> </wsdl:input>
            <wsdl:output message="tns:bookResponse" name="bookResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listLibrairy">
            <wsdl:input message="tns:listLibrairyRequest" name="listLibrairyRequest"> </wsdl:input>
            <wsdl:output message="tns:listLibrairyResponse" name="listLibrairyResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BookPortSoap11" type="tns:BookPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="bookReference">
            <soap:operation soapAction=""/>
            <wsdl:input name="bookReferenceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="bookReferenceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="book">
            <soap:operation soapAction=""/>
            <wsdl:input name="bookRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="bookResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listLibrairy">
            <soap:operation soapAction=""/>
            <wsdl:input name="listLibrairyRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listLibrairyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BookPortService">
        <wsdl:port binding="tns:BookPortSoap11" name="BookPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>